<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bac">
        <h1>
            <%= title %>
        </h1>
        <p>
            <div class="tex">
                <div>
                    Generación dinámica de páginas web y utilización de técnicas de acceso a datos.</br>
                </div>
                <div>
                    Ejemplo: <a href="/productos">Productos</a> en la app web
                </div>
            </div>
        </p>
    </div>

</body>

</html>